{%extends 'base.html'%}
{%load bootstrap4%}
{%block content%}
<header>

    <div class="container">

        <div class="profile">

            <div class="profile-image">

                <img src="{{profile.profile_pic.url}}">

            </div>

            <div class="profile-user-settings">

                <h1 class="profile-user-name">{{user}}</h1>

                <button class="btn profile-edit-btn" data-toggle="modal" data-target="#exampleModal">Edit
                    Profile</button>

                <button class="btn profile-settings-btn" aria-label="profile settings" data-toggle="modal"
                    data-target="#exampleModalCenter"><i class="fas fa-cog" aria-hidden="true"></i></button>

            </div>

            <div class="profile-stats">

                <ul>
                    <li><span class="profile-stat-count">{{photos|length}}</span> posts</li>
                    <li><span class="profile-stat-count">{{user.followers}}</span> followers</li>
                    <li><span class="profile-stat-count">{{user.following}}</span> following</li>
                </ul>

            </div>

            <div class="profile-bio">

                <p><span class="profile-real-name">{{user}}</span> {{profile.bio}}</p>

            </div>

        </div>
        <!-- End of profile section -->

    </div>
    <!-- End of container -->

</header>

<main>

    <div class="container">

        <div class="gallery">
            {% if photos %}
            {% for photo in photos %}

            <div class="gallery-item" tabindex="0" data-toggle="modal" data-target="#exampleModalScrollable">

                <img src="{{photo.image_path.url}}" class="gallery-image">

                <div class="gallery-item-info">

                    <ul>
                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i
                                class="fas fa-heart" aria-hidden="true"></i> {{photo.likes}}</li>
                        <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i
                                class="fas fa-comment" aria-hidden="true"></i> {{photo.comments}}</li>
                    </ul>

                </div>

            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalScrollableTitle" aria-hidden="true" style="margin-top: 200px">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalScrollableTitle">{{user}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img src="{{photo.image_path.url}}" class="image-fluid" data-toggle="modal"
                                data-target="#exampleModalScrollable">
                        </div>
                        <div class="modal-footer">
                            <h4>{{photo.caption}}</h4>
                            <h5 class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i
                                    class="fas fa-heart" aria-hidden="true"></i> {{photo.likes}}</h5>
                            <h5 class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i
                                    class="fas fa-comment" aria-hidden="true"></i> {{photo.comments|length}}</h5>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
        {% else %}
        <div class="alert">
            <h2 class="alert alert-info animated fadeIn"> No photos uploaded yet</h2>
        </div>
        {% endif %}

        <!-- End of gallery -->

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true" style="margin-top: 150px">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Instapic Update Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-group" action="{%url 'update'%}" method="post" enctype="multipart/form-data">
                            {%csrf_token%}
                            {%bootstrap_form form%}
                            <button class="btn btns btn-primary" type="submit" name="button">Save changes</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btns btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title style=" font-size: small;"" id="exampleModalCenterTitle">Settings</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center" style="display:flex; flex-direction:column; padding: 5%;">
                        <a href="{%url 'image'%}" style="font-size: large; margin-bottom: 1%;"
                            class="btn btns btn-info">Add Image</a>

                        <a href="/accounts/password/change" style="font-size: large; large: margin-bottom;} 1%;"
                            class="btn btns btn-info">Change Password</a>

                        <a href="/logout" style="font-size: large;" class="btn btns btn-info">Logout</a>

                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End of container -->

</main>
{%endblock%}