{%extends 'base.html'%}
{%block content%}

<div class="container">
    <br><br>
    <div class="row">
        <div class="uploads">
            <form class="form-group" action="{%url 'update'%}" method="post" enctype="multipart/form-data">
                <h3>instapics Update Profile</h3>
                {%csrf_token%}
                {%bootstrap_form form%}

                <button class="btn btn-info" type="submit" name="button">Update</button>

            </form>
        </div>
        <div class="col-md-1"> </div>
    </div>
    {%endblock%}